.banner {
    background-image: url('../../images/background.png');
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    color: white;
}

.banner .container {
   max-width: 800px;
   margin: 0 auto;
}

.banner .container p {
    font-size: 20px;
    color: #B2B2B2;
}

.banner .container a {
    text-decoration: none;
    background-color: #1DDD87;
    padding: 15px 30px;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
}